table, th, td 
    {
        border:1px solid black;
        text-align:center;
    }

h1  {
        font-size:4em;
        text-align: center;
    }

p {font-size: 2em;}

td 
    {
        width:20%;
        font-size: 2em;
    }

    body {background-color:bisque;}
